<h1>Project 1!</h1>
<!-- <form method = 'POST', action = '/playground/verifyemail/'> -->
    <form method = 'POST', action = "{% url 'verifyemail' %}">
    {% csrf_token %} 
    {{ form.as_p }} 
    <label for="sender_email">Email Address:</label>
    <input id="sender_email" type="text" name="sender_email" value="{{ current_name }}">
    
    <label for="first_name">First name:</label>
    <input id="first_name" type="text" name="first_name" value="{{ f_name }}">

    <label for="last_name">Last name:</label>
    <input id="last_name" type="text" name="last_name" value="{{ l_name }}">
    <button class="btn btn-primary" type="submit">Submit</button> 
</form>