<body style="background-color:cornsilk;"></body>
<h1><strong>Welcome to your meeting manager</strong></h1>
<!-- <form method = 'POST', action = '/playground/verifyemail/'> -->
<form method='POST' , action="{% url 'verifyemail' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% load static %}
    <link rel="stylesheet" href="{ % static 'styles.css'%}">
    <label for="sender_email">Enter Email Address:</label>
    <input id="sender_email" type="text" name="sender_email" value="{{ current_name }}">
    <br><br>
    <label for="first_name">Enter First name:</label>
    <input id="first_name" type="text" name="first_name" value="{{ f_name }}">
    <br><br>
    <label for="last_name">Enter Last name:</label>
    <input id="last_name" type="text" name="last_name" value="{{ l_name }}">
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>